<?xml version="1.0" encoding="UTF-8"?>
<i2nsf>
	<rule>
		<rule-name>
			qwerqwer
		</rule-name>
		<rule-id>
			1
		</rule-id>
		<rule-case>
			web
		</rule-case>
		<action>
			<action-name>
				reject
			</action-name>
		</action>
		<event>
			<time-information>
				<end-time>
					04:00
				</end-time>
				<start-time>
					01:00
				</start-time>
			</time-information>
		</event>
		<condition>
			<source>
				Staff
			</source>
			<destination>
				facebook
			</destination>
		</condition>
	</rule>
</i2nsf>